body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #4691aa;
}

.kodarit-logo{
  margin: 10px;
}

.kuura-happy{
  width: 270px;
  height: 400px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon{
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.send-button {
  padding: 5px 5px;
  border: none;
  background-color: #00556f;
  color: white;
  font-size: 0;
}

.send-button:hover {
  background-color: #0056b3;
}

.teaching-area {
  font-family: Arial, sans-serif;
  background-color: #a6c6d5;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
}

.chatbox { 
  background-color: #fff;
  overflow: auto;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 10px;
}

.chat-container {
  width: 800px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 600px;
}

.user-input {
  padding: 10px;
  border: none;
  border-right: 1px solid #ddd;
  width: 100%;
}

.input-container {
  display: flex;
  border-top: 1px solid #ddd;
  margin-bottom: 10px; 
  width: 100%;
}

.user-message {
  text-align: left;
  font-weight: bold;
}

.message {
  margin-bottom: 10px;
}

.bot-message {
  text-align: left;
}
